* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #011532;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  line-height: 1.2;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 8px;
}

p {
  font-size: 20px;
  margin-bottom: 16px;
}

header {
  background-color: #4c0235;
  text-align: center;
  color: #e9f45b;
  padding: 32px;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.container > * {
  margin-bottom: 32px;
}

.stage-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.stage-actions button {
  background-color: transparent;
  padding: 16px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 2px solid #a1d2ff;
  cursor: pointer;
}

.stage-image {
  display: grid;
  place-items: center;
}

.stage-image img {
  max-width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 512px;
}

.error {
  text-align: center;
  font-size: 24px;
}

.error > * {
  color: tomato;
}

.genres {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  gap: 10px;
}

.genre {
  background-color: transparent;
  width: 100px;
  height: 100px;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
  line-height: 2.4;
  border: 4px solid #a1d2ff;
  cursor: pointer;
}

.genre:hover {
  background-color: rgba(255,255,255,0.7);
  border: 4px solid #f1c82d;
}

.hidden {
  display: none;
}
